.venv/
__pycache__/
*.egg-info/
*.py[cod]
.DS_Store
.pytest_cache/
.mypy_cache/
.ruff_cache/

config/*
cache/*
data/*
secrets/*
!config/.gitkeep
!cache/.gitkeep
!data/.gitkeep
!secrets/.gitkeep
AGENTS.md
.env
